body {
  display: block;
  text-align: center;
}

.logo {
  width: 200px;
  margin-bottom: 10px;
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
  margin: 0;
  padding: 0;
}

select {
  margin-top: 30px;
  width: 400px;
  font-size: 20px;
  border: solid;
}

.details-title {
  margin-top: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
}

p {
  font-size: 20px;
}

span {
  font-weight: 700;
}
